<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include ("./common/head") %>
        <link href="src/css/board.css" rel="stylesheet">
    </head>

    <body>
        <div id="wrap">
            <!------------------- 상단 navbar ------------------->
            <header>
            <%- include ("./common/navbar") %>
            </header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button> -->
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
              
                <div class="collapse navbar-collapse board" id="navbarTogglerDemo03">
                  <ul class="nav navbar-nav">
                    <li class="nav-item first">
                      <a class="nav-link" href="#">일상 이야기<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">국가기술자격시험</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">어학시험</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">민간자격시험</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">전문자격시험험</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                  </ul>
                  <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form> -->
                </div>
              </nav>
            <div id="container">
                <div class="content-header">
                    <!-- <h4>일상이야기</h4> -->
                </div>
                <table class="table table-hover board">
                    <thead>
                      <tr>
                            <th >번호</th>
                            <th>분류</th>
                            <th>제목</th>
                            <th>날짜</th>
                            <th>조회수</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr class="notice">
                            <td class="no">전체공지</td>
                            <td class="cate">공지</td>
                            <td class="title">게시판 이용공지</td>
                            <td class="date">2020.07.20</td>
                            <td class="m_no">100</td>
                        </tr>
                        <tr>
                            <td class="no">120</td>
                            <td class="cate">토익</td>
                            <td class="title">이번 시험 난이도 어땠나요?</td>
                            <td class="date">2020.08.20</td>
                            <td class="m_no">100</td>
                        </tr>
                        <tr>
                            <td class="no">120</td>
                            <td class="cate">토익</td>
                            <td class="title">이번 시험 난이도 어땠나요?</td>
                            <td class="date">2020.08.20</td>
                            <td class="m_no">100</td>
                        </tr>

                        <tr>
                            <td class="no">120</td>
                            <td class="cate">토익</td>
                            <td class="title">이번 시험 난이도 어땠나요?</td>
                            <td class="date">2020.08.20</td>
                            <td class="m_no">100</td>
                        </tr>

                        <tr>
                            <td class="no">120</td>
                            <td class="cate">토익</td>
                            <td class="title">이번 시험 난이도 어땠나요?</td>
                            <td class="date">2020.08.20</td>
                            <td class="m_no">100</td>
                        </tr>


                    </tbody>
                </table>

                <section class="bottom-content">
                    <section class="navbar navbar-light bg-light navbar-search">
                        <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-small" type="submit">Search</button>
                        </form>
                    </section>

                    <button class="btn btn-small" type="submit">쓰기</button>
                </section>

                <!-- -----------------페이지네이션 ----------------- -->
                <section class="pagination-content">
                    <ul class="pagination"> 
                    </ul>
                    <script>
                        var page=1;
                    $(function(){
                        for(var i=0;i<5;i++){
                                    $('.pagination').append(
                                        '<li><a href="javascript:void(0);" data-page="'+(i+1)+'">'+(i+1)+'</a></li>'                  
                                    );
                                }
                                    $(function(e){ //페이지 클릭 이벤트
                                    $('ul.pagination a').click(function(e){
                                        page = $(this).data('page');
                                        getMenu(page);
                                        })
                                    });

                    });
                    </script>
        
            </div><!-- ------container------- -->
            
        </div><!-- ------wrap------- -->
    </body>
</html>        