<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include ("./common/head") %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<link href="src/css/style.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  
  <script>
    $(document).ready(function(){
      // $('.slider').bxSlider();
    });
  </script>
  
  <script>
  $(function(){
    $.ajax({
      url:'/getTestInfo',
      async:true,
      method:'get',
      dataType:'json',
      success:function(res){
        var length = res.length;
        var quo = parseInt(length/10);
        var rem = length%10;
        var rem_page = rem?1:0;

        for(var i=0; i<quo+rem_page;i++){
          $(".slider").append(
            '<div id='+i+'>'+
              '</div>'
          )
          $('#'+i).append(
              '<table class="table table-hover data" id=table'+i+'>'+
                  '<thead>'+
                    '<tr>'+
                      '<th>회차</th>'+
                      '<th>시험명</th>'+
                      '<th>시험일(필기)</th>'+
                      '<th>시험접수일(필기)</th>'+
                      '<th>성적발표일(필기)</th>'+
                    '</tr>'+
                  '</thead>'+
              '</table>'
                      )
          if(i!=quo){
            for(var j=0; j<10;j++){
                $('#table'+i).append(
                '<tbody>'+
                  '<tr>'+
                  '<td>'+res[j+10*i].time+'</td>'+
                  '<td>'+res[j+10*i].NAME+'</td>'+
                  '<td>'+res[j+10*i].doc_d_day+'</td>'+
                  '<td>'+res[j+10*i].doc_apply_start+'</td>'+
                  '<td>'+res[j+10*i].doc_result_release+'</td>'+
                '</tr>'+
              '</tbody>'
                )
            }
          }
          else{
            for(var j=0; j<rem;j++){
                $('#table'+quo).append(
                '<tbody>'+
                  '<tr>'+
                  '<td>'+res[length-rem+j].time+'</td>'+
                  '<td>'+res[length-rem+j].NAME+'</td>'+
                  '<td>'+res[length-rem+j].doc_d_day+'</td>'+
                  '<td>'+res[length-rem+j].doc_apply_start+'</td>'+
                  '<td>'+res[length-rem+j].doc_result_release+'</td>'+
                '</tr>'+
              '</tbody>'
                )
            }
          }

        }

        $('.slider').bxSlider();
      },
      error:function(err){
        console.log("/getTestInfo ajax Error",err)
      }
    });
  });
 </script>
    </head>

    <body>
        <div id="wrap">
            <!------------------- 상단 navbar ------------------->
            <header>
            <%- include ("./common/navbar") %>
            </header>
        </div>
            <!------------------- 점보트론 ------------------->
            <div class="jumbotron text-center">
              <div class="jumbo-content">
                <% if( !nickname ) { %><!-- 로그인안된 상태 -->
                  <dl>
                    <h3>나만의 자격증 비서</h3>
                  </dl>
                  <dl>
                    <h1>자비스</h1>
                  </dl>
                  <dl>
                    <p>귀찮은 자격증 관리, 이제 자비스에게 맡겨보세요!</p>
                  </dl>
                  <p><a class="btn btn-small" href="/login" role="button">지금 시작하기</a></p>
                <% } else { %> <!-- 로그인된 상태 -->          
                  <dl>
                    <h3>나만의 자격증 비서</h3>
                  </dl>
                  <dl>
                    <h1>자비스</h1>
                  </dl>
                  <dl>
                    <h4>안녕하세요 <%-nickname%>님:)</h4>
                  </dl>
                <% } %>
              </div>
            </div>



            <div id="wrap">
            <!------------------- 서치폼 ------------------->
            <section>
                <div class="content-header text-center">
                    <h3>자격증/시험/전공을 검색해보세요!</h3>
                </div>

                <form class="join-input" method="get" action="search">
                    <div class="searchForm2">
                    <input type="text" class="search" name="searchKey" placeholder="자격증/시험">
                    <button type="submit" class="btn">
                        <img src="src/img/search_index.svg"/>
                    </button>
                    </div>
                </form>
            </section>        
            <!------------------- 자격증 추천 ------------------->
            <section>
                <div class="content-header text-center">
                    <h3>현재 인기 자격증</h3>
                </div>
                <div class="tag">
                    <button type="button" class="buttonTag">한국사</button>
                    <button type="button" class="buttonTag">정처기</button>
                    <button type="button" class="buttonTag">인기자격증아무거</button>
                    <button type="button" class="buttonTag">SQLD</button>
                    <button type="button" class="buttonTag">정보처리기사</button>
                    <button type="button" class="buttonTag">정처기</button>
                    <button type="button" class="buttonTag">정처기</button>
                </div>
                <div class="tag-right">
                  <% if( !nickname ) { %>
                    <a href="/login"><p>당신에게 필요한 자격증은?</p></a>
                  <%} else {%>
                    <a class="mypage" href="#"><p>당신에게 필요한 자격증은?</p></a>
                    <% }%>   
                </div>
            </section>


            <!------------------- 시험 일정 ------------------->

            <main>
                <section>
                    <div class="content-header text-center">
                        <h3>다가오는 시험</h3>
                    </div>
                    <div class="slider" id="slider">
                      <!-- 시험 테이블 -->
                    </div>
                </section>
            </main>
        

        </div>
            <!------------------- 푸터 ------------------->
            <div class="footer">
                <%- include ("./common/footer") %>
            </div>
    </body>
</html>