<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include ("./common/head") %>
        <link href="src/css/mypage.css" rel="stylesheet">

        <script type="text/javascript">
          //유저 시험정보 가져오기
          $(function(){
            $.ajax({
              url:'/getCertiTestInfo',
              method:'post',
              async:true,
              dataType:'json',
              success:function(res){
                  for(var i=0; i<res.length;i++){
                      $('tbody').append(
                        '<tr>'+
                        '<td>'+res[i].time+'</td>'+
                        '<td>'+res[i].NAME+'</td>'+
                        '<td>'+res[i].doc_d_day+'</td>'+
                        '<td>'+res[i].doc_apply_start+'</td>'+
                        '<td>'+res[i].doc_result_release+'</td>'+
                      '</tr>'
                      )
                  }
              },
              error:function(err){console.log("getCertiTestInfo Ajax ERR",err);}
            });
          });
        </script>
    </head>
 
    <body>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/heatmap.js"></script>
        <script src="https://code.highcharts.com/modules/treemap.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <div id="wrap">
            <!------------------- 상단 navbar ------------------->
            <header>
                <%- include ("./common/navbar") %>
            </header>

            <div id="container">
                <div id="snb">
                    <div class="content-header text-center">
                        <h3>회원정보변경</h3>
                    </div>
                    <ul class="nav nav-pills nav-stacked">                      
                        <li role="presentation"><a href="#">개인정보 변경</a></li>
                        <li role="presentation"><a href="#">비밀번호 변경</a></li>
                        <li role="presentation"><a href="#">내가 쓴 글</a></li>
                    </ul>
                </div>

                <div id="content">
                    <div class="mypage-cont">
                        <div class="content-header">
                            <h3><bold><%=nickname%></bold>님 시험 일정</h3>
                        </div>
                        <table class="table table-hover data">
                            <thead>
                              <tr>
                                <th>회차</th>
                                <th>시험명</th>
                                <th>시험일(필기)</th>
                                <th>시험접수일(필기)</th>
                                <th>성적발표일(필기)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <!-- 유저시험정보 추가 -->
                            </tbody>
                        </table>

                        <div class="content-header">
                            <h3><bold><%=nickname%></bold>님 전공 인기 자격증</h3>
                        </div>
                        <div class="total">
                            <figure class="highcharts-figure">
                                <div id="chart-container"></div>
                                <p class="highcharts-description">
                                 *나와 전공이 같은 사람들이 보유하고있는 자격증입니다. 
                                </p>
                              </figure>

                              <script>
                                //id정보 받아서 major 찾기
                                window.certi=[];
                                  $(function(){
                                    $.ajax({
                                        url:'/userInfo',
                                        async : false,
                                        type: 'post',
                                            dataType: 'json',
                                            success: function(data){ //post 요청 성공시
                                              var length=data.length;
                                              if(length>6){
                                                length=6;
                                              }
                                                for(var i=0;i<length;i++){
                                                    var arr ={};
                                                    arr.name=data[i].certifi;
                                                    arr.value=data[i].cnt;
                                                    arr.colorValue=i+1;
                                                    certi.push(arr);
                                                }
                                                console.log(certi);
                                            },
                                            error : function(err){
                                                alert("보내기 실패"+err);
                                            }
                                    });
                              

                                Highcharts.chart('chart-container', {
                      colorAxis: {
                        minColor: '#FFFFFF',
                        maxColor: Highcharts.getOptions().colors[0]
                      },
                      series: [{
                        type: 'treemap',
                        layoutAlgorithm: 'squarified',
                        data: certi
                      }],
                      title: {
                        text: 'Highcharts Treemap'
                      }
                    });
                  });
                            </script>


                        </div>


                    </div><!--//mypage-cont-->
                    



                </div>
                    
            </div><!--//container-->

            <footer>
                
            </footer>




        </div><!--//wrap-->

       
        
    
    
    
    </body>
</html>